/* .column-drop-preview {
  transition: all 0.3s ease;
  background-color: white;
  border: 0px;
  min-height: 200px;
}

.column-drop-preview-active {
  background-color: #ebf5ff;
  box-shadow: 0 0 8px rgba(0, 120, 255, 0.3);
  border: 2px dashed #0078ff;
} */