.column {
  background-color: transparent;
  border: 0;
  border-radius: 6px;
}

.card_wrapper {
  background-image: linear-gradient(to bottom right, rgb(58, 138, 219), rgb(195, 219, 243));
  border: 0;
  border-radius: 6px;
  height: 700px;
}

.card_body {
  background-image: linear-gradient(to bottom right, rgb(58, 138, 219), rgb(195, 219, 243));
  color: black;
  border: 0;
  border-radius: 6px;
  height: 700px;
  overflow-y: scroll;
}

.column_card_title {
  font-size: 28px !important;
  padding-left: 160px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-image: linear-gradient(to bottom right, rgb(58, 138, 219), rgb(195, 219, 243));
}