.column {
  background-color: transparent;
  border: 0;
  border-radius: 6px;
}

.card_wrapper {
  background-color: #c530e6;
  border: 0;
  border-radius: 6px;
}

.card_body {
  background-image: linear-gradient(to bottom right, rgb(58, 138, 219), rgb(195, 219, 243));
  color: black;
  border: 0;
  border-radius: 6px;
  height: 700px;
  overflow-y: scroll;
}

/* .card_body::-webkit-scrollbar {
  width: 10px;
} */

/* .card_body::-webkit-scrollbar-thumb {
  background-color: #c41d1d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c41d1d;
  border-radius: 10px;
} */

/* .column-drop-preview {
  transition: all 0.3s ease;
  background-color: white;
  border: 0px;
  min-height: 200px;
}

.column-drop-preview-active {
  background-color: #ebf5ff;
  box-shadow: 0 0 8px rgba(0, 120, 255, 0.3);
  border: 2px dashed #0078ff;
} */

.issue_card {
  background-color: rgb(231, 118, 31);
  padding: 10px;
  /* border: 2px solid; */
  /* border-color: white; */
}

.issue_body {
  background-color: white;
  width: 100%;
  padding: 5px 20px;
  margin: auto;
  border-radius: 4px;
}

.issue_placeholder {
  background-color: rgb(250, 224, 79);
  width: 100%;
  padding: 5px 20px;
  margin: auto;
  border-radius: 4px;
}