.search-form {
  padding: 1.5rem 1.5rem;
}

.form-control {
  width: 100%;
}

.search_field::placeholder {
  color: black;
  font-size: 16px;
}

.gradient_btn {
  background-image: linear-gradient(to bottom right,
      rgb(58, 138, 219),
      rgb(195, 219, 243));
  border: none;
  max-width: 260px;
  font-weight: 500 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 18px !important;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
}

.form_control {
  height: 68px;
}

.row-spacing {
  margin-top: 0.5rem;
}

@media (max-width: 576px) {
  .button_col {
    margin-top: 0.5rem;
  }
}