.my-custom-card {
  background-image: linear-gradient(to bottom right, rgb(58, 138, 219), rgb(195, 219, 243));
  color: black;
  border: none;
  height: 700px;
  overflow-y: scroll;
  border-radius: 6px;
  display: block;
  padding: 0 !important;
}

.gradient-btn {
  background-image: linear-gradient(to bottom right,
      rgb(58, 138, 219),
      rgb(195, 219, 243));
  border: none;
  max-width: 260px;
  font-weight: 500 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 18px !important;
  padding: 8px;
  border-radius: 4px;
  transition: 0.3s;
}

.text {
  color: #09325c !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 18px !important;
}

.text_title {
  color: #09325c !important;
  font-weight: 700 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 18px !important;
}

.form_control {
  height: 68px;
}